/Lab3as1/nbproject/private/
/Lab3as1/build/
/Lab3as1/dist/
/Lab4As1/nbproject/private/
/Lab4As1/build/
/Lab4As1/dist/
/Lab5As1/nbproject/private/
/Lab5As1/build/
/Lab5As1/dist/
/Lab6As1/nbproject/private/
/Lab6As1/build/
/Lab6As1/dist/